<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Chez mwa : {{titre}}</title>
</head>
<body>
    <h1>Détail de l'annonce {{titre}}</h1>
    <div class="cardList">
        <div class="imoCard">
            <h2>{{titre}}</h2>
            <div class="prix"><strong>Prix:</strong> {{prix}} €</div>
            <div class="prix"><strong>Caractéristiques:</strong> {{caracteristiques}}</div>
            <div class="prix"><strong>Description:</strong> {{description}}</div>
            <div class="prix"><strong>Surface:</strong> {{surfaceM2}} m²</div>
            <div class="prix"><strong>Localisation:</strong> {{localisation}}</div>
            <div class="prix"><strong>Date de publication:</strong> {{datePublication}}</div>
        </div>
    </div>
</body>
</body>
</html>