<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Chez mwa : {{titre}}</title>
</head>
<body>
    <h1>Erreur {{titre}}</h1>
    <div>
        {{detail}}
    </div>
    <a href="/">Accueil</a>
    <a href="/annonces">Annonces</a>
</body>
</body>
</html>