<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Chez mwa</title>
</head>
<body>
    <h1>Bonjour et bienvenu chez MWA immobilier</h1>
    <p>
        <a href="/annonces">> Nos annonces</a>
    </p>
    <p>
        <a href="/annonces/create">> Créer un formulaire</a>
    </p>
</body>
</html>